@keyframes blink {
  to {
      opacity: .0;
    }
}

:root{
    --main-color: #2874A6;
    --second-color: #FFF;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1 {
    padding-bottom: 1%;
    font-family: Open Sans;
    font-size: 38px;
    text-align: center;
}

.title {
    padding-bottom: 1%;
    font-family: Open Sans;
    font-size: 45px;
    text-align: center;
}

h2 {
    font-family: Open Sans;
    font-size: 32px;
    text-align: center;
}

h3 {
    font-family: Open Sans;
}

h5 {
    font-family: Open Sans;
    line-height: 150%;
    font-size: 15px;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

#nav {
    z-index: 1;
	width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    position: fixed;
	float: left;
	padding: 0;
	background-color: #000;
    font-family: Open Sans;
}

#nav ul {
	list-style-type: none;
	width: 800px;
    float: left;
}

#nav li {
	float: left; 
}

#nav li a {
	display: block;
	padding: 10px 14px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

#nav li a:hover {
	color: #000;
	background-color: #fff; 
}

.flex-container {
    padding: 0;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;      
}

.ftc-image {
    padding-top: 30vh;
    display: block;
    margin: 0 auto;
    height: 225px;
} 

@media all and (max-width: 500px) { 
    .ftc-image {
        height: 175px;
    } 
}

@media all and (max-width: 475px) {     
    .media-image {
        display: block;
        margin: auto;
        margin-bottom: 30px;
        width: 300px;
        height: 200px;
        box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.2), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.19);
    } 
    
    .media-image:hover {
        display: block;
        box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.2), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.19);
    }
}

@media all and (min-width:476px) and (max-width: 700px) {     
    .media-image {
        display: block;
        margin: auto;
        margin-bottom: 30px;
        width: 400px;
        height: 266px;
        box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.2), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.19);
    } 
    
    .media-image:hover {
        display: block;
        box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.2), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.19);
    }
}

@media all and (min-width: 701px) {  
    
    .media-image {
        display: block;
        margin: auto;
        margin-bottom: 30px;
        width: 500px;
        height: 333.33px;
        box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.2), 0  0.7vw 2vw 0 rgba(0, 0, 0, 0.19);
    } 
    
    .media-image:hover {
        display: block;
        box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.2), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.19);
    }
}

@media all and (min-width: 1051px) {      
    .icon:hover {
        -webkit-transform: scale(1.3,1.3);
        transform: scale(1.3,1.3);
    }
}

/* Home Div */
.home {
    background: url(Background.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    padding: 2em 12vw 2em 12vw;
    width: 100%;
    text-align: left;
    font-family: Open Sans;
    min-height: 100%;
}

#icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
}

/* Team Div */
.team {
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    padding: 2em 8vw 4em 8vw;
    text-align: justify;
    font-family: Open Sans;
}

#team-img {
    width: 25vw;
    float: left;
    margin-right: 4vw;
    margin-bottom: 2vw;
    box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.5), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.7);
}

.empty {
    display: none;
}

.empty-img {
    display: none;
}

#empty-img-2 {
    display: none;
}

@media all and (min-width:501px) and (max-width:700px) {
    .team {
        text-align: left;
    }
    
    #team-img {
        width: 40vw;
    }
    
    .empty {
        display: none;
    }
    
    .empty-img {
        display: none;
    }
    
    #empty-img-2 {
        display: none;
    }
}

@media all and (max-width:500px) {
    .team {
        text-align: left;
    }
    
    #team-img {
        display: none;
    }
    
    .empty {
        display: block;
    }
    
    .empty-img {
        display: block;
        margin: 0 auto;
        height: 45vw;
        box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.5), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.7);
    }
    
    #empty-img-2 {
        display: block;
        margin: 0 auto;
        width: 50vw;
        box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.5), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.7);
    }
}

#before-typed {
    font-family: Open Sans;
    font-size: 42px;
}

.none {
    list-style-type: none;
}

@media all and (max-width:750px) {
    .none {
        list-style-type: disc;
    }
}

/* Robot Div */
.robot {
    background: var(--second-color);
    color: #000;
    padding: 2em 8vw 4em 8vw;
    box-sizing: border-box;
    width: 100%;
    text-align: justify;
    font-family: Open Sans;
}

#robot-img {
    width: 20vw;
    float: right;
    margin-left: 4vw;
    margin-bottom: 2vw;
    box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.5), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.7);
}

@media all and (min-width:501px) and (max-width:700px) {
    .robot {
        text-align: left;
    }
    
    #robot-img {
        width: 40vw;
    }
}

@media all and (max-width:500px) {
    .robot {
        text-align: left;
    }
    
    #robot-img {
        display: none;
    }
}

/* Outreach Div */
.outreach {
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    padding: 2em 8vw 4em 8vw;
    text-align: left;
    font-family: Open Sans;
    font-weight: 300;
}

.container {
    margin-top: -30px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.outreach-box {
    flex-grow: 1;
    display: block;
    flex-wrap: nowrap;
    text-align: justify;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 20px;
}

.outreach-box a {
    text-decoration: none;
    color: #fce446;
}

.outreach-box a:hover {
    text-decoration: none;
    color: #000;
}

#f {
    float: left;
    margin-right: 4vw;
    margin-bottom: 2vw;
    width: 22vw;
    box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.5), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.7);
}

#m {
    float: right;
    margin-left: 4vw;
    margin-bottom: 2vw;
    width: 22vw;
    box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.5), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.7);
}

#p {
    float: left;
    margin-right: 4vw;
    margin-bottom: 2vw;
    width: 22vw;
    box-shadow: 0 0.1vw 0.7vw 0 rgba(0, 0, 0, 0.5), 0 0.7vw 2vw 0 rgba(0, 0, 0, 0.7);
}

@media all and (min-width:501px) and (max-width:700px) {
    .outreach-box {
        text-align: left;
    }
    
    #f {
        width: 40vw;
    }
    
    #m {
        width: 40vw;
    }
    
    #p {
        width: 40vw;
    }
}

@media all and (max-width:500px) {
    .outreach-box {
        text-align: left;
    }
    
    #f {
        display: none;
    }
    
    #m {
        display: none;
    }
    
    #p {
        display: none;
    }
}

#Fundraising {
    border-bottom: 3px solid #000;
}

#Mentoring{
    border-bottom: 3px solid #000;
}

.outreach-title {
    text-align: center;
}

/* Gallery Div */
.gallery {
    width: 100%;
    min-height: 60%;
    background-color: var(--second-color);
    color: #000;
    padding: 2em 8vw 2em 8vw;
    text-align: center;
    font-family: Open Sans;
}

@media all and (max-width: 320px) {
    .icon {
        width: 40px;
        padding: 0 14px 10px 14px;
    }
}


@media all and (min-width: 320px) and (max-width: 500px) {
    .icon {
        width: 50px;
        padding: 0 14px 10px 14px;
    }
}

@media all and (min-width: 501px) {
    .icon {
        width: 60px;
        padding: 0 22px 10px 22px;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
    }
}

.footer {
    padding: 0.8em 5em 0.8em 0em;
    text-align: right;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    font-family: Open Sans;
    width: 100%;
}